.navbar-nav > li{
  padding-left:60px;
  padding-right:60px;
}
  @media (max-width: 1200px) {
	.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
}
}
  @media (max-width: 1000px) {
	.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
}
  @media (max-width: 765px) {
	.navbar-nav > li{
  padding-left:0px;
  padding-right:0px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #logo{
    display: none;
  }
}
.pad10 {
    padding-top: 10px;
}

.gborder {
    border: 1px solid black;
    margin-top: 15px;
    padding-bottom: 10px;
}
